 .u-section-1 {
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: linear-gradient(to bottom, #1a1a1a, #404040);
  background-size: cover;
}

.u-section-1 .u-sheet-1 {
  min-height: 638px;
}

.u-section-1 .u-custom-html-1 {
  height: auto;
  min-height: 96px;
  width: 349px;
  margin: 188px auto 0;
}

.u-section-1 .u-text-1 {
  margin: 64px 433px 0 auto;
}

.u-section-1 .u-image-1 {
  width: 159px;
  height: 159px;
  margin: 15px 411px 0 auto;
}

.u-section-1 .u-image-2 {
  width: 159px;
  height: 159px;
  margin: -159px auto 60px 396px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-custom-html-1 {
    width: 375px;
    margin-top: 437px;
  }

  .u-section-1 .u-text-1 {
    margin-top: -86px;
    margin-right: 357px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 165px;
  }

  .u-section-1 .u-image-2 {
    margin-top: -147px;
    margin-bottom: 51px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-right: 273px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-right: 205px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 381px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 381px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-custom-html-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 129px;
  }

  .u-section-1 .u-image-1 {
    margin-right: 181px;
  }

  .u-section-1 .u-image-2 {
    margin-left: 181px;
  }
}